In [135]:
import pandas as pd

###### Obtendo os dados

In [136]:
df1 = pd.read_csv('1T2020.csv', encoding='cp1252', sep=';')

In [137]:
df2 = pd.read_csv('1T2021.csv', encoding='ISO-8859-1', sep=';')

In [138]:
df3 = pd.read_csv('2T2020.csv', encoding='ISO-8859-1', sep=';')

In [139]:
df4 = pd.read_csv('2T2021.csv', encoding='ISO-8859-1', sep=';')

In [140]:
df5 = pd.read_csv('3T2020.csv', encoding='ISO-8859-1', sep=';')

In [141]:
df6 = pd.read_csv('3T2021.csv', encoding='ISO-8859-1', sep=';')

In [142]:
df7 = pd.read_csv('4T2020.csv', encoding='ISO-8859-1', sep=';')

In [143]:
df8 = pd.read_csv('4T2021.csv', encoding='utf-8', sep=';')

###### Concatenando os DataFrames

In [144]:
combined_csv = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], ignore_index=True)

In [145]:
combined_csv

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_FINAL,VL_SALDO_INICIAL
0,01/01/2020,315796,411111263,Recuperação por Co-Participação na modalidade ...,"-723497,64",NaN
1,01/01/2020,315796,41111171,Planos Individuais/Familiares antes da Lei,"70815,64",NaN
2,01/01/2020,315796,411111711,Despesas com Eventos / Sinistros na modalidade...,"92525,89",NaN
3,01/01/2020,315796,411111712,Glosa na modalidade de pagamento por procedimento,"-19027,66",NaN
4,01/01/2020,315796,411111713,Recuperação por Co-Participação na modalidade ...,"-2682,59",NaN
...,...,...,...,...,...,...
5965852,2021-10-01,311693,46331,DESPESAS COM UTILIZAÇÃO DE EQUIPAMENTOS E VEÍC...,"0,00","0,00"
5965853,2021-10-01,311693,463319,Despesas com Utilização de Equipamentos e Veíc...,"0,00","0,00"
5965854,2021-10-01,311693,46331901,Despesas com Utilização de Equipamentos e Veíc...,"0,00","0,00"
5965855,2021-10-01,311693,463319011,Aluguel,"0,00","0,00"
5965856,2021-10-01,311693,463319012,Arrendamento Mercantil Operacional,"0,00","0,00"

In [146]:
len(df1) + len(df2) + len(df3) + len(df4) + len(df5) + len(df6) + len(df7) + len(df8)

5965857

###### Convertendo coluna Data para datetime

In [147]:
combined_csv['DATA'] = pd.to_datetime(combined_csv['DATA'])
combined_csv

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_FINAL,VL_SALDO_INICIAL
0,2020-01-01,315796,411111263,Recuperação por Co-Participação na modalidade ...,"-723497,64",NaN
1,2020-01-01,315796,41111171,Planos Individuais/Familiares antes da Lei,"70815,64",NaN
2,2020-01-01,315796,411111711,Despesas com Eventos / Sinistros na modalidade...,"92525,89",NaN
3,2020-01-01,315796,411111712,Glosa na modalidade de pagamento por procedimento,"-19027,66",NaN
4,2020-01-01,315796,411111713,Recuperação por Co-Participação na modalidade ...,"-2682,59",NaN
...,...,...,...,...,...,...
5965852,2021-10-01,311693,46331,DESPESAS COM UTILIZAÇÃO DE EQUIPAMENTOS E VEÍC...,"0,00","0,00"
5965853,2021-10-01,311693,463319,Despesas com Utilização de Equipamentos e Veíc...,"0,00","0,00"
5965854,2021-10-01,311693,46331901,Despesas com Utilização de Equipamentos e Veíc...,"0,00","0,00"
5965855,2021-10-01,311693,463319011,Aluguel,"0,00","0,00"
5965856,2021-10-01,311693,463319012,Arrendamento Mercantil Operacional,"0,00","0,00"

In [148]:
combined_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5965857 entries, 0 to 5965856
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   DATA               datetime64[ns]
 1   REG_ANS            int64
 2   CD_CONTA_CONTABIL  int64
 3   DESCRICAO          object
 4   VL_SALDO_FINAL     object
 5   VL_SALDO_INICIAL   object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 273.1+ MB

###### Salvando arquivo no csv

In [ ]:
combined_csv.to_csv('combined.csv', sep=';')